<div class="abonnements-container">
  <div class="abonnement" *ngFor="let abonnement of abonnements">
    <h3>{{ abonnement.name }}</h3>
    <p>{{ abonnement.price }}</p>
    <ul>
      <li *ngFor="let avantage of abonnement.advantages">{{ avantage }}</li>
    </ul>
    <button *ngIf="abonnement.id !== user.subscription_id" (click)="souscrire(abonnement.name)">Souscrire</button>
  </div>
</div>
<span>{{ user.subscription_id}}</span>
<!--*ngIf="abonnement.name === 'Starter' || abonnement.name === 'Master'"-->
