<div class="cart-container">
  <div class="cart-header">
    <h2>Votre Panier</h2>
  </div>
  <div class="cart-items">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img class="cart-item-image" src="assets/262.jpg" alt="Product Image">
      <div class="cart-item-details">
        <h3 class="cart-item-name">{{ item.name }}</h3>
        <p class="cart-item-description">{{ item.description }}</p>
        <p class="cart-item-price">{{ item.price | currency: 'USD' }}</p>
      </div>
      <button class="cart-item-remove-button">Supprimer</button>
    </div>
  </div>
  <div class="cart-total">
    <p>Total : {{ calculateTotal() | currency: 'USD' }}</p>
  </div>
  <button class="checkout-button" (click)="openModal()">Passer la Commande</button>
</div>

<!-- Modal -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <h2>Récapitulatif de la Commande</h2>
    <p>Récapitulatif du panier :</p>
    <p>{{ cartSummary }}</p>
    <p>Prix total : {{ totalPrice | currency: 'USD' }}</p>
    <p>Adresse de livraison : {{ deliveryAddress }}</p>
    <button (click)="closeModal()">Fermer</button>
  </div>
</div>
