<!-- connexion.component.html -->
<div class="container">
  <div class="center-container">
    <div class="left-section">
      <img src="assets/Capture.PNG" alt="CookingAcademy Logo">
      <p>
        CookingAcademy propose des cours de cuisine, des ateliers dégustation, des ustensiles de cuisine, des plats, et met en ligne des recettes pour les amateurs de cuisine.
      </p>
    </div>
    <div class="separator" style="background-color: #25a3c9;"></div>
    <div class="right-section">
      <div class="button-container">
        <a routerLink="/signin" class="connect-button">Se Connecter</a>
        <a routerLink="/signup" class="create-account-button">Créer un Compte</a>
      </div>
      <p class="button-explanation">
        Vous avez déjà un compte ? Connectez-vous pour accéder à notre contenu exclusif. Si vous êtes nouveau ici, créez un compte pour commencer votre aventure culinaire !
      </p>
    </div>
  </div>
</div>
