
<!-- services.component.html -->

<div class="service-list">
  <div class="service" *ngFor="let service of services">
    <img src="../../assets/service.jpg" alt="{{ service.title }}" class="service-image">
    <h2 class="service-name">{{ service.title }}</h2>
    <p class="service-description">{{ service.description }}</p>
    <p class="service-price">Prix : {{ service.price }} €</p>
    <p class="service-participants">Nombre de participants : {{ service.number_of_person }}</p>
    <p class="service-location">Lieu : {{ service.place }}</p>
    <p class="service-date">Date/Heure : {{ this.formatterDate(service.start_date) }}</p>
    <p class="service-duration">Durée : 2H</p>
    <p class="service-remaining">Restant : {{ service.remainingPlaces }}</p>
    <button class="reserve-button" (click)="buyService(service.id, service.title)">Réserver</button>
  </div>
</div>
