
<div class="meal-list">
  <div class="meal" *ngFor="let meal of meals">
    <img src="assets/32543046-restaurant-et-symbole-de-menu-logo-couverts-illustration-vectorielle-plaque-cuillère-fourchette.jpg" alt="{{ meal.name }}" class="meal-image">
    <h2 class="meal-name">{{ meal.name }}</h2>
    <p class="meal-description">{{ meal.description }}</p>
    <p class="meal-price">Prix : {{ meal.price }} €</p>
    <button class="order-button" (click)="buyMeal(meal.id, meal.name)">Commander</button>
  </div>
</div>
