<div class="profile-container">
  <h2>Profil de l'Utilisateur</h2>
  <div class="profile-info">
    <div class="info-group">
      <label>Prénom :</label>
      <span>{{ user.first_name }}</span>
    </div>
    <div class="info-group">
      <label>Nom :</label>
      <span>{{ user.last_name }}</span>
    </div>
    <div class="info-group">
      <label>Date de Naissance :</label>
      <span>{{ user.birthday_date }}</span>
    </div>
    <div class="info-group">
      <label>Rue :</label>
      <span>{{ user.street }}</span>
    </div>
    <div class="info-group">
      <label>Code Postal :</label>
      <span>{{ user.postal_code }}</span>
    </div>
    <div class="info-group">
      <label>Ville :</label>
      <span>{{ user.city }}</span>
    </div>
    <div class="info-group">
      <label>Pays :</label>
      <span>{{ user.country }}</span>
    </div>
    <div class="info-group">
      <label>Abonnement :</label>
      <span>{{ user.subscription_id }}</span>
    </div>
  </div>
</div>


<!-- <button class="checkout-button" (click)="test()">test</button>-->



