<div class="notifications-container">
  <h2>Notifications</h2>
  <ul class="notification-list">
    <li *ngFor="let notification of notifications; let i = index" class="notification-item">
      <div class="notification-content">
        <span class="notification-title">{{ notification.title }}</span>
        <span class="notification-time">{{ notification.time }}</span>
      </div>
      <button class="notification-button" (click)="removeNotification(i)">Supprimer</button>
    </li>
  </ul>
</div>
