<div class="privacy-container">
  <h2 align="center">Privacy terms</h2>
  <ol>
    <li>
      <b>Collection of Personal Data</b>: The application collects personal data from its users to provide personalized services.
      The collected data may include name, email address, postal address, phone number, and geolocation.
      This information will only be used within the scope of the ColorBlast application and will never
      be shared with third parties without the user's consent.
    </li>
    <br>
    <li>
      <b>Use of Personal Data</b>: The personal data collected by ColorBlast will be used to provide personalized services to the user.
      For example, the application may use the user's geolocation to suggest nearby painters.
      The information may also be used to communicate with users, send promotional offers, and provide updates on ColorBlast's services.
    </li>
    <br>
    <li>
      <b>Data Security</b>: ColorBlast is committed to protecting the personal data of its users.
      The application uses advanced security measures to safeguard user information against unauthorized use, disclosure, or access.
    </li>
    <br>
    <li>
      <b>Data Retention</b>: ColorBlast will retain the personal data of its users for as long as necessary to provide the requested services and to comply with all legal and regulatory obligations.
      Users can request the deletion of their data at any time.
    </li>
    <br>
    <li>
      <b>Data Sharing</b>: ColorBlast will not sell, rent, or share the personal data of its users with third parties unless it is necessary to provide the requested services or required by law.
      In such cases, the application will take measures to ensure the security of the shared data.
    </li>
    <br>
    <li>
      <b>Cookies and Similar Technologies</b>: ColorBlast may use cookies and similar technologies to collect information about user's application usage, improve the user experience, and deliver personalized advertisements.
      Users can control the use of cookies in their browser settings.
    </li>
    <br>
    <li>
      <b>Changes to the Privacy Policy</b>: ColorBlast reserves the right to modify this privacy policy at any time.
      The changes will be posted on the website and the application, and users will be notified
      of significant changes via email or through the application.
    </li>
    <br>
    <li>
      <b>Contact</b>: If you have any questions or concerns regarding ColorBlast's privacy policy,
      you can contact the company via email or postal mail.
    </li>
  </ol>
</div>
